
$green: #64a44e !default;
$gold: #f7bf29 !default;
$background:  #ffffff;

$body-bg:$background;
$moodle-color: #282829 !default;
$facebook-color: #4167B2 !default;
$twitter-color: #55acee !default;
$youtube-color: #cc181e !default;
$linkedin-color: #007bb5 !default;
$instagram-color: #8a3ab9 !default;
$whatsapp-color: #25d366 !default;
$telegram-color: #0088cc !default;
$tiktok-color: #000 !default;
$pinterest-color: #e60023 !default;

:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
  --background-color:  #{$background};/* Background color for the entire website, including individual sections */
  --default-color: #212529; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #2e0a13; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #{$brand-primary};/* #7c3848; Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f4f4f4;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}
$bootstrap-icons-font: "bootstrap-icons" !default;
$bootstrap-icons-font-dir: "#{$location}/fonts" !default;
$bootstrap-icons-font-file: "#{$bootstrap-icons-font-dir}/#{$bootstrap-icons-font}" !default;
$bootstrap-icons-font-hash: "24e3eb84d0bcaf83d77f904c78ac1f47" !default;
$bootstrap-icons-font-src: url("#{$bootstrap-icons-font-file}.woff2?#{$bootstrap-icons-font-hash}") format("woff2"),
                           url("#{$bootstrap-icons-font-file}.woff?#{$bootstrap-icons-font-hash}") format("woff") !default;